<div class="layout-topbar">
    <!-- <button #menubutton class="p-link layout-menu-button layout-topbar-button" (click)="layoutService.onMenuToggle()">
        <i class="pi pi-bars"></i>
    </button> -->

    <a class="layout-topbar-logo" routerLink="">
        <span class="px-2 py-1">GOMAD Admin</span>
    </a>
    <!-- If we ever need an ellipses menu in the topbar, use this. -->
    <!-- <button #topbarmenubutton class="p-link layout-topbar-menu-button layout-topbar-button" (click)="layoutService.showProfileSidebar()">
        <i class="pi pi-ellipsis-v"></i>
    </button> -->

    <!-- <div #topbarmenu class="layout-topbar-menu">
        <p-menu #settingsMenu [model]="items" [popup]="true"></p-menu>
        <button class="p-link layout-topbar-button" (click)="settingsMenu.toggle($event)">
            <i class="pi pi-cog"></i>
            <span>Settings</span>
        </button>
    </div> -->
</div>