<div class="layout-topbar bg-white fixed">
    <div class="h-full w-full md:w-10 m-auto flex">
        <div class="h-full w-full flex justify-content-between">
            <a class="h-full flex flex-column justify-content-center" routerLink="/">
                <div class="topbar-logo">
                    <h1 class="m-0 px-3 font-bold" style="letter-spacing: 1px;">GOMAD</h1>
                </div>
            </a>

            <!-- Desktop Menu -->
            <div class="hidden md:flex align-content-center mr-3">
                <div *ngFor="let item of menuItems" class="flex flex-column justify-content-center h-full w-auto">
                    <a class="desktop-menu-item uppercase h-full px-3 lg:px-5" [routerLink]="item.routerLink">
                        <div class="h-full flex flex-column justify-content-center">
                            <span class="text-gray-900 text-4xl" style="font-family: var(--font-family-heading);">
                                {{ item.label }}
                            </span>
                        </div>
                    </a>
                </div>
            </div>

            <!-- Mobile Menu -->
            <div class="md:hidden flex flex-column justify-content-center mr-2 md:m-0">
                <button (click)="toggleMenu()"
                styleClass="p-button-text p-button-secondary"
                class="p-link p-3">
                    <i class="pi pi-bars text-4xl"></i>
                </button>
            </div>
        </div>
    </div>
</div>

<p-sidebar [(visible)]="menuVisible" [fullScreen]="true">
    <ng-template pTemplate="content" class="px-0">
        <div class="flex flex-column justify-content-between align-content-center">
            <div *ngFor="let item of menuItems" class="p-4 md:p-6 menu-item">
                <a class="text-7xl md:text-8xl uppercase" [routerLink]="item.routerLink" (click)="toggleMenu()">
                    <div class="md:w-6 mx-auto">
                        <span class="text-gray-900" style="font-family: var(--font-family-heading);">{{ item.label }}</span>
                    </div>
                </a>
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="closeicon">
        <button (click)="toggleMenu()"
        styleClass="p-button-text p-button-secondary"
        class="p-link p-3">
            <i class="pi pi-times text-4xl"></i>
        </button>
    </ng-template>
</p-sidebar>