<div class="mx-2">
    <div class="col-12 md:col-10 m-auto mt-4">
        <div class="flex flex-column">
            <h2>2023 Booth Rates</h2>
            <div class="grid mb-2">
                <div class="col-12 md:col">
                    <div class="card h-30rem">
                        <div class="flex justify-content-center mb-5">
                            <span class="font-bold text-center text-4xl">Gym</span>
                        </div>
                        <div class="flex flex-column gap-3 text-4xl">
                            <div class="flex justify-content-between">
                                <span>Regular Space</span>
                                <span>$60.00</span>
                            </div>
                            <div class="flex justify-content-between">
                                <span>Endcap Space</span>
                                <span>$70.00</span>
                            </div>
                            <div class="flex justify-content-between">
                                <span>Corner Space</span>
                                <span>$85.00</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 md:col">
                    <div class="card h-30rem">
                        <div class="flex justify-content-center mb-5">
                            <span class="font-bold text-center text-4xl">Large Cafe</span>
                        </div>
                        <div class="flex flex-column gap-3 text-4xl">
                            <div class="flex justify-content-between">
                                <span>Regular Space</span>
                                <span>$55.00</span>
                            </div>
                            <div class="flex justify-content-between">
                                <span>Corner Space</span>
                                <span>$65.00</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 md:col">
                    <div class="card h-30rem">
                        <div class="flex justify-content-center mb-5">
                            <span class="font-bold text-center text-4xl">Small Cafe</span>
                        </div>
                        <div class="flex flex-column gap-3 text-4xl">
                            <div class="flex justify-content-between">
                                <span>Regular Space</span>
                                <span>$40.00</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="flex flex-column mb-4">
                <h2>Available Spaces</h2>
                <!-- <div *ngIf="this.loading">
                    <p-progressSpinner></p-progressSpinner>
                </div>
                <div *ngIf="!this.loading">
                    <div class="flex flex-column mb-2">
                        <span class="font-bold">GYM</span>
                        <span *ngFor="let gymSpace of availableGymSpaces">
                            {{ gymSpace.name }}
                        </span>
                    </div>
                    <div class="flex flex-column mb-2">
                        <span class="font-bold">LARGE CAFE</span>
                        <span *ngFor="let largeCafeteriaSpace of availableLargeCafeSpaces">
                            {{ largeCafeteriaSpace.name }}
                        </span>
                    </div>
                    <div class="flex flex-column">
                        <span class="font-bold">SMALL CAFE</span>
                        <span *ngFor="let smallCafeteriaSpace of availableSmallCafeSpaces">
                            {{ smallCafeteriaSpace.name }}
                        </span>
                    </div>
                </div> -->
                <div class="card col-12">
                    <span class="text-2xl">🎉 We are completely booked for this season! 🎉</span>
                </div>
            </div>
        </div>
    </div>
</div>
